---
// Layout import
import MainLayout from "@layouts/MainLayout.astro";

// Component imports
import Content from "@components/Content.astro";
import PageList from "@components/PageList.astro";

// Collection utils
import { allCollections, sortedPosts } from "@scripts/collection-utils";
import { getCollection, getEntryBySlug } from "astro:content";

// Dynamic routing setup
export async function getStaticPaths () {
    return allCollections.map((collection) => {

        return {
            params: {collection: collection},
            props: {collection: collection}
        }
    })
}

// Getting all the collections according to collection
const { collection } = Astro.props;
const allCollectionPages = sortedPosts(await getCollection(collection, ({slug, data}) => {
    return slug != "index" && !data.draft;
}))

// Index page config
const indexPage = await getEntryBySlug(collection, 'index');

// Index page fallback defaults
var indexTitle = `${collection}`;
var indexDescription = `Posts under the "${collection}" category`;

// Override index page if necessary
if (indexPage !== undefined) {
    let { data } = indexPage;
    indexTitle = data.title;
    indexDescription = data.description;
}

---

<MainLayout title={ indexTitle } description={ indexDescription }>
    <!-- <h1> { indexTitle } </h1> -->

    <Content isIndex toRender={ indexPage }/>
    <PageList pages={ allCollectionPages }/>
</MainLayout>
