
:root {
    font-size: larger;
}

body {
    line-height: 1.25rem;
    margin: auto;
    width: 80%;
}

main {
    margin: 2rem 0rem;
}

header {
    margin: 1rem 0rem;
    width: 100%;
}

$heading-font-sizes: (2rem, 1.5rem, 1.17rem, 1rem, 0.83rem, 0.67rem);

@for $i from 1 through 6 {
    h#{$i} {
        border-bottom: 0.1rem solid;
        font-size: nth($list: $heading-font-sizes, $n: $i);
        font-weight: 900-(100 * (1 - $i));
        margin: 1.5rem 0rem;
        padding: 0rem 0rem 1rem 0rem;

        a {
            color: inherit;
        }
    }
}

p {
    margin: 1rem 0rem;
    // text-indent: 2rem;
}

footer {
    margin: 1rem 0rem;
    text-align: center;
}

pre {
    &.astro-code {
        border: 0.1rem dashed var(--rose);
        margin: 1rem 0rem;
        padding: 1rem;
    }
}

a {
    &:hover {
        color: var(--gold);
        transition: ease-in-out 0.1s;
    }
}