@use "theme";

body {
    font-size: 1.5rem;

    color: var(--fg);
    background-color: var(--bg);

    padding: 0;
    margin: 0;
}

main {
    font-size: 1.5rem;
    width: 60vw;
    margin: 5% auto;
}

@for $i from 1 through 6 {
    h#{$i} {
        color: var(--yellow);
        font-weight: (10 - $i) * 100;
    }
}

h1 {
    color: var(--blue);
}

a {
    color: var(--pink);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

strong {
    color: var(--yellow);

    em {
        color: var(--orange);
    }
}

em {
    color: var(--red);

    strong {
        color: var(--orange);
    }
}

del {
    color: var(--overlay0);
}

th {
    border-bottom: solid 1px var(--lavender);
    border-left: solid 1px var(--lavender);
    border-top: solid 1px var(--lavender);

    &:last-child {
        border-right: solid 1px var(--lavender);
    }

    padding: 5px 10px;
}

td {
    border-bottom: solid 1px var(--lavender);
    border-left: solid 1px var(--lavender);

    &:last-child {
        border-right: solid 1px var(--lavender);
    }

    padding: 5px 10px;
}

code {
    color: var(--green);
    background-color: var(--base);
}

pre {
    font-size: larger;
    border-radius: 10px;
    padding: 15px;
}

blockquote {
    color: var(--lavender);
    font-style: italic;
    background-color: var(--base);
    padding: 5px 10px;
}

li {
    &::marker {
        color: var(--teal);
    }
}

hr {
    color: var(--lavender);
}

/* TODO
input {
    &[type="checkbox"] {
        background-color: red;

        &:checked {
            color: green;
            background-color: aqua;
        }
    }
}
*/

.primary {
    color: var(--text);
}

@media print {
    header,
    footer {
        display: none;
    }

    main {
        color: black !important;
        background-color: white !important;
        font-size: 1rem;

        width: 210mm;
        height: 297mm;

        margin: 0;

        print-color-adjust: economy;
    }


    [astro-icon] {
        color: black !important;
    }
}

@page {
    margin: 1cm 2cm;
}

a {
    page-break-inside: avoid;
}
blockquote {
    page-break-inside: avoid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
}
img {
    page-break-inside: avoid;
    page-break-after: avoid;
}
table,
pre {
    page-break-inside: avoid;
}
ul,
ol,
dl {
    page-break-before: avoid;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

    div {
        margin-right: 5.5rem;
    }
}

.contacts {
    text-align: center;

    [astro-icon] {
        color: var(--text);
        width: 2rem;
        display: inline;
    }
}