---
import CSS from "./Content.module.scss"

import Tags from '@components/Tags/Tags.astro';

export interface Props {
    isIndex?: boolean,
    toRender: any
}

const { isIndex = false, toRender } = Astro.props as Props;
---

{
    async () => {
        if (toRender !== undefined) {

            const { data } = toRender;
            const { Content } = await toRender.render();

            return (
            <>
              { isIndex ? <h1>{ data.title }<span class:list={[ CSS['primary'] ]}> posts</span></h1> : <h1>{ data.title }</h1> }
              <Tags tags={ data.tags }/>
              <Content />
            </>
            )
        }
    }
}


