---
import CSS from "./Card.module.scss"

export interface Props {
    title:          string,
    description:    string,
    url:            string | undefined
}

const { title, description, url } = Astro.props as Props
---

<div class:list={[ CSS['card'] ]}>
    <a href={ url }><h2>{ title }</h2></a>
    <p>{ description }</p>
</div>