---
import CSS from "./Navbar.module.scss";

import { SITE_TITLE } from "@data/site-data";
import { allCollections } from "@scripts/collection-utils";
---

<header>
    <a href={ Astro.site } class="title" >{SITE_TITLE}</a>

    {
        allCollections.map((collection) => {
            return <a href={ `${ Astro.site }${collection}/` } class:list={[ CSS['nav-link'] ]}>{ collection }</a>;
        })
    }

</header>
