---
export interface Props {
    title:          string,
    description:    string,
    url:            string | undefined
}

const { title, description, url } = Astro.props as Props
---

<div class="card">
    <h2><a href={ url }>{ title }</a></h2>
    <p>{ description }</p>
</div>