---
export interface Props {
    title:          string;
    description:    string;
}

const { title, description } = Astro.props as Props;
const CANONICAL_URL = new URL(Astro.url.pathname, Astro.site);
---

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Title and some basic SEO stuff -->
    <title>{ title }</title>
    <meta name="description" content={ description }/>

    <link rel="canonical" href={ CANONICAL_URL } />
    <meta name="generator" content={ Astro.generator }/>
</head>

