---
import MarkdownLayout from '@layouts/MarkdownLayout.astro';

export interface Props {
    memberPage: any,
    currentProjects: any
};

const { memberPage, currentProjects } = Astro.props as Props;
const { data } = memberPage;
---

<MarkdownLayout page={ memberPage }>

    <h1>{ data.title }</h1>
    <h2>Contributes to</h2>
    <ul>
        {
            currentProjects.map((project) => {
                return <li>{ project }</li>
            })
        }
    </ul>

</MarkdownLayout>

