---
import { allCollections } from "@scripts/collection-utils";
---

<header>
    <a href="/">home</a>
    {
        allCollections
        .filter((collection) => {
            return collection !== 'pages';
        })
        .map((collection) => {
            return <a href={ `/${collection}/` }>{ collection }</a>;
        })
    }
</header>
