---
import MarkdownLayout from '@layouts/MarkdownLayout.astro';

export interface Props {
    projectPage: any,
    currentContributors: any
};

const { projectPage, currentContributors } = Astro.props as Props;
const { data } = projectPage;
---

<MarkdownLayout page={ projectPage }>
    
    <h1>{ data.name }</h1>
    <h2>Contributors</h2>
    <ul>
    {
        currentContributors.map((contributor: string) => {
            return <li>{contributor}</li>
        })
    }
    </ul>

</MarkdownLayout>
