---
import { Icon } from "astro-icon";

export interface Props {
    tags: Array<String>;
}

const { tags } = Astro.props;
---

<div class:list="tag-container">
    <Icon name="ion:pricetags-outline" />
    {
        tags.map((tag) => {
            return <a href={ `${ Astro.site }tags/${tag}` }>{ tag }</a>;
        })
    }
</div>
